@{
    ViewData["Title"] = "Destinos";
}


<div class="d-flex" id="maldivas-gallery">

    <div id="left-imgs-container">
        <div class="mb-1 mr-1" id="left-img1"></div>
        <div class="mb-1 mr-1" id="left-img2"></div>
        <div class="mr-1" id="left-img3"></div>
    </div>

    <div id="right-imgs-container" class="d-flex justify-content-center align-items-center">
        <h1 id="maldivas-text">ILHAS MALDIVAS</h1>
    </div>

</div>

<section class="d-flex justify-content-center align-items-center flex-column" id="visit-maldivas">
    <p>Compartilhe sua história</p>
    <h1>#VISITMALDIVAS</h1>
</section>


<section class="w-100" id="double-card">

    <div class="row align-items-center" id="high">
        <div class="col d-flex justify-content-end align-items-center" id="left-container">
            <h2 class="text-right font-weight-bold pr-5" id="high-left-text">
                DEDICAÇÃO E EXCELÊNCIA PARA
                UMA EXPERIÊNCIA ÚNICA
            </h2>
        </div>

        <div class="col d-flex align-items-center" id="right-container">
            <p class="font-weight-bold pl-5" id="high-right-text">Conheça os melhores destinos, com as melhores condições. Marcar uma viagem é marcar a vida para sempre! </p>
        </div>
    </div>

</section>